name: Lint
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  schedule:
    - cron: "3 1 4 * *"
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Pre-commit
        uses: pre-commit/action@v3.0.1
